*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --bodyBackground: #1E1E1E;
  --colorWhite: #ffffff;
  --colorWhite60: #fff9;
  --colorWhite40: #fff6;
  --colorTransparent: #fff0;
}

html, body {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bodyBackground);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

main {
  position: relative;
  width: 1519px;
  display: grid;
  margin: 0 auto;
  padding-top: 6rem;
}

section.large-image {
  display: flex;
  justify-content: center;
  position: relative;
}

.main-image {
  width: 1083px;
  height: 527px;
  object-fit: cover;
  position: relative;
  opacity: 1;
} 

.main-image.fadeOutTransition {
  opacity: 0;
  transition: opacity .5s ease;
}

.main-image-title {
  position: absolute;
  background: #ffffffa1;
  padding: .6rem;
  bottom: 0;
  font-size: 1.6rem;
  width: 1083px;
}

nav {
  position: absolute;
  width: 1195px;
  height: 527px;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-inline-start: 0;
  align-items: center;
}

.arrow-left, .arrow-right {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  gap: 1.2rem;
  padding: 6rem 1.2rem 2.2rem 1.2rem;
}

.carousel.sliding-transition {
  transition: transform 0.5s ease-in-out;
}

.carousel-item-image {
  width: 235px;
  height: 243px;
  border-radius: 1.2rem;
  border: 2px solid var(--colorTransparent);
  transition: all ease 0.5s;  
  object-fit: cover;
  opacity: 1;
}

.carousel-item-image:hover, .carousel-item-image.active {
  border: 2px solid var(--colorWhite);
}

.carousel-item-image.fading-transition {
  opacity:0;
  /* transition: opacity 1s ease-in-out; */
}


